<div class="card-header">
    {{employee.name}}
  </div>
<div class="card-body ">
        <div class="row">
        <div class="col-2 ">
            <div class="row">
                <img class="imageClass" [src]="employee.photoPath" alt="A Employee">
            </div>
        </div>
         <div class="col-10 verticalAlign">
                <div class="row">
                    <div class="col-6">
                        Gender
                    </div>
                    <div class="col-6">
                        : {{employee.gender}}
                    </div>
                <!-- </div> -->
               <!-- <div class="row verticalAlign"> -->
                  <div class="col-6">
                      Date of birth
                  </div>
                  <div class="col-6">
                      : {{employee.dateOfBirth | date}}
                  </div>
              <!-- </div> -->
               <!-- <div class="row verticalAlign"> -->
                  <div class="col-6">
                      Contact Preference
                     </div>
                   <div class="col-6">
                      : {{employee.contactPreference}}
                  </div>
              <!-- </div>  -->
              <!-- <div class="row verticalAlign"> -->
                  <div class="col-6">
                      Department 
                     </div>
                   <div class="col-6" [ngSwitch]="employee.id" >
                      <span *ngSwitchCase="1"> : HelpDesk</span>
                      <span *ngSwitchCase="2"> : HR</span>
                      <span *ngSwitchCase="3"> : IT</span>
                      <span *ngSwitchCase="4"> : Finance</span>
                      
                      <span *ngSwitchDefault>  : N/A</span>
                  </div>
              <!-- </div>  -->
              <!-- <div class="row  verticalAlign"> -->
                  <div class="col-6">
                      Email
                     </div>
                   <div class="col-6">
                      : {{employee.email}}
                  </div>
              </div>
          </div>
</div>

<div class="card-footer">
    <a class="btn btn-primary" [routerLink]="['/list']" queryParamsHandling="merge" [queryParams]="{ id: employee.id}" routerLinkActive="router-link-active" >Back to list</a>
    <button id="nxt" class="btn btn-primary pull-right" (click)="goToNextEmployee()">Go to Next employee</button>
</div>


